<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>열관류율계산기</title>

    <!-- Site favicon -->
    <link href="vendors/images/custom/favicon.ico" rel="icon" sizes="16x16" type="image/png">

    <!-- Mobile Specific Metas -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <!-- CSS -->
    <link href="vendors/styles/core.css" rel="stylesheet" type="text/css">
    <link href="vendors/styles/icon-font.min.css" rel="stylesheet" type="text/css">
    <link href="vendors/styles/style.css" rel="stylesheet" type="text/css">

    <!-- jquery 3.2.1 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- 열관류율 Json Dat Request -->
    <script>
        function initLoad() {
            return fetch('data/')
                .then((response) => response.json)
                .then((json) => json.items);
        }

        initLoad().then((items) => {
            console.log(items);
        })
    </script>

    <!-- 커스텀 함수 -->
    <script src="vendors/scripts/custom/calculator.js"></script>
    <script src="vendors/scripts/custom/locale.js"></script>
</head>
<body>
<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h5>열관류율 계산기(KS)</h5>
            </div>
        </div>
    </div>
    <div class="header-right">
        <div class="row" style="text-align : center;">
            <label style="display : inline-block;">지역구분</label>
            <div style="display : inline-block;">
                <select class="selectpicker form-control" id="sido1" name="sido1" style="display : inline-block;"></select>
            </div>
            <div style="display : inline-block;">
                <select class="selectpicker form-control" id="gugun1" name="gugun1" style="display : inline-block;">
                    <option>중부1</option>
                    <option>중부2</option>
                    <option>남부</option>
                    <option>제주</option>
                </select>
            </div>
            <label style="display : inline-block;">용도구분</label>
            <div style="display : inline-block">
                <select class="selectpicker form-control" id="use" name="use">
                    <option>주거</option>
                    <option>비주거</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header" style="font-size : 0.8rem;">
                <div class="row">
                    <p class="mb-5">* 기준 = 에너지절약설계기준
                        <br>* 지자체 = 지역별 녹색건축설계기준 고려한 최소 기준 (500m2 이상일때만 해당)
                        <br>* 표면 열전달 저항값 자동 계산
                        <br>* 창호열관류율은 제조사의 시험성적서 값을 적용 합니다. 선택한 창호의 시험성적서는 다음을 참고
                    </p>
                </div>
            </div>
            <!-- Start of form -->
            <div class="pd-20 card-box mb-30">
                <!-- Start of 외벽 from -->
                <div>
                    <div class="clearfix" style="background-color : #7FB3D5;">
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p class="text h5">외벽(직접)</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p>열관류율</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p>만족</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <h5 class="text h5">외벽(간접)</h5>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p>열관류율</p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p>만족</p>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-size="5" data-style="btn-outline-primary">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-max-options="3"
                                            data-size="5" data-style="btn-outline-secondary" multiple>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p>지자체 1</p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-size="5"
                                            data-style="btn-outline-primary">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-max-options="3"
                                            data-size="5" data-style="btn-outline-secondary" multiple>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p>지자체 2</p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-size="5"
                                            data-style="btn-outline-primary">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-max-options="3"
                                            data-size="5" data-style="btn-outline-secondary" multiple>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-max-options="3"
                                            data-size="5" data-style="btn-outline-secondary" multiple>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-max-options="3"
                                            data-size="5" data-style="btn-outline-secondary" multiple>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-size="5"
                                            data-style="btn-outline-primary">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-max-options="3"
                                            data-size="5" data-style="btn-outline-secondary" multiple>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-size="5"
                                            data-style="btn-outline-primary">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-max-options="3"
                                            data-size="5" data-style="btn-outline-secondary" multiple>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                        </div>
                    </form>
                </div>
                <!-- End of 외벽 form  -->

                <!-- Start of 창호 form  -->
                <div>
                    <div class="clearfix" style="background-color : #7DCEA0;">
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p class="text h5">창호(직접)</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p>열관류율</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p>만족</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <h5 class="text h5">창호(간접)</h5>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p>열관류율</p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p>만족</p>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-size="5"
                                            data-style="btn-outline-primary">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p> 지자체 3</p>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <select class="selectpicker form-control" data-size="5"
                                            data-style="btn-outline-primary">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p> 지자체 4</p>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End of 창호 form  -->
                <!-- Start of 외벽평균열관류율-->
                <div>
                    <div class="clearfix" style="background-color : #F7DC6F;">
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <h5 class="text h5">외벽평균열관류율</h5>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <div class="form-group">
                                <select class="selectpicker form-control" data-max-options="3"
                                        data-size="5" data-style="btn-outline-secondary" multiple>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p>외벽평균열관류율</p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p>지자체 5</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p>배점 EPI</p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p>만족</p>
                        </div>
                    </div>
                </div>
                <!-- End of 외벽평균열관류율-->
            </div>
        </div>
        <!-- Default Basic Forms End -->
    </div>
</div>
</div>
<!-- Input Validation End -->
</div>
<div class="footer-wrap pd-20 mb-20 card-box">
    Copyright ⓒ 2021 건축환경그룹 코다 All rights reserved.
    <a href="https://codaa.xyz/" target="_blank">CODAA</a>
</div>
</div>
</div>
<!-- js -->
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/process.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
</body>
</html>