<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>열관류율 계산기</title>

    <!-- Site favicon -->
    <link href="vendors/images/custom/favicon.ico" rel="icon" sizes="16x16" type="image/png">

    <!-- Mobile Specific Metas -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <!-- CSS -->
    <link href="vendors/styles/core.css" rel="stylesheet" type="text/css">
    <link href="vendors/styles/icon-font.min.css" rel="stylesheet" type="text/css">
    <link href="vendors/styles/style.css" rel="stylesheet" type="text/css">

    <!-- jquery 3.2.1 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- 열관류율 Json Dat Request -->
    <script>

    </script>

    <!-- 커스텀 함수 -->
    <script src="vendors/scripts/custom/script.js"></script>
</head>
<body>
<div class="header" style="position : relative; margin-right: -70px; width: 100%;">
    <div class="header-left" style="width:25%">
        <div class="col-md-12 col-sm-12">
            <div class="title">
                <h5>&nbsp;&nbsp;열관류율 계산기(KS)</h5>
            </div>
        </div>
    </div>
    <div class="header-right" style="width: 65%">
        <div class="row" style="margin: auto;">
            <label style="display : inline-block; margin-top: 10px; margin-right: 5px; font-weight: bold">지역구분</label>
            <div style="display : inline-block;">
                <select class="custom-select" id="sido1" name="sido1"></select>
            </div>
            <div style="display : inline-block;">
                <select class="custom-select" id="gugun1" name="gugun1" style="display: none"></select>
            </div>
            <div style="display : inline-block;">
                <select class="custom-select" disabled id="locale"
                        onchange="onchangeLocale(this.value)" style="display : inline-block;">
                    <option value="" disabled hidden selected>지역구분</option>
                </select>
            </div>
            <label style="display : inline-block; margin-left: 15px; margin-right: 5px; margin-top: 10px; font-weight: bold">용도구분</label>
            <div style="display : inline-block">
                <select class="custom-select" id="use" onchange="onchangeUse(this.value)">
                    <option disabled hidden selected>용도구분</option>
                </select>
            </div>
            <i class="icon-copy dw dw-search2" onclick="onclickSearch()"
               style="margin-left: 20px; margin-top: 10px; cursor: pointer;">&nbsp;검토</i>
            <i class="icon-copy dw dw-refresh2" onclick="onclickRefresh()"
               style="margin-left: 10px; margin-top: 10px; cursor: pointer;">&nbsp;초기화</i>
        </div>
    </div>
</div>
<div class="main-container" style="padding: 0px;">
    <div class="pd-ltr-20 xs-pd-20-10" style="padding: 10px;">
        <div class="min-height-200px">
            <div class="page-header"
                 style="font-size : 0.8rem; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px;">
                <div class="row">
                    <p class="mb-5" style="text-align: left; margin-left: 20px;">* 기준 = 에너지절약설계기준
                        <br>* 지역별 녹색건축설계기준 고려한 최소 기준 (500㎡ 이상일때만 해당)
                        <br>* 표면 열전달 저항값 자동 계산
                        <br>* 창호열관류율은 제조사의 시험성적서 값을 적용 합니다. 선택한 창호의 시험성적서는 다음을 참고
                    </p>
                    <div style="display : inline-block; margin-left: auto; margin-right: 20px;">
                        <select class="selectpicker form-control" disabled>
                            <option>타겟 EPI 65점</option>
                            <option>타겟 EPI 74점</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Start of form -->
            <div class="pd-20 card-box mb-30">
                <!-- Start of 외벽 form -->
                <div>
                    <div class="clearfix" style="background: linear-gradient(90deg, #7FB3D5 50%, #7DCEA0 50%);">
                        <div class="col-md-3 col-sm-6" style="display : inline-block;">
                            <p class="text h5" style="display: inline-block;">외벽(직접)</p>
                            <input id="wall-direct-width" onchange="onchangeWidth(this.id)" style="width: 60px;" type="number"
                                   value="75">
                            <p style="display: inline-block; width: 10px;">㎡</p>
                        </div>
                        <div class="col-md-2 col-sm-6" style="display : inline-block;">
                            <p id="wall-direct-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-6" style="display : inline-block;">
                            <p id="wall-direct-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                        <div class="col-md-3 col-sm-6" style="display : inline-block;">
                            <p class="text h5" style="display: inline-block;">외벽(간접)</p>
                            <input id="wall-indirect-width" onchange="onchangeWidth(this.id)" style="width: 60px;" type="number"
                                   value="0">
                            <p style="display: inline-block; width: 10px;">㎡</p>
                        </div>
                        <div class="col-md-2 col-sm-6" style="display : inline-block;">
                            <p id="wall-indirect-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-6" style="display : inline-block;">
                            <p id="wall-indirect-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                    </div>
                    <form name="wall" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="wall-direct-kind-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>구조 재료</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="wall-direct-thick-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected value="0">구조 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="wall-direct-locale"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="wall-indirect-kind-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>구조 재료</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="wall-indirect-thick-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected value="0">구조 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="wall-indirect-locale"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="wall-direct-kind-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="wall-direct-thick-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="wall-indirect-kind-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="wall-indirect-thick-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="wall-direct-kind-3"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>외부마감재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" disabled id="wall-direct-thick-3">
                                        <option disabled hidden selected>외부마감재 두께</option>
                                        <option value="0">0</option>
                                        <option value="20">20</option>
                                        <option value="90">90</option>
                                        <option value="190">190</option>
                                        <option value="290">290</option>
                                        <option value="390">390</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="wall-indirect-kind-3"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>외부마감재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" disabled id="wall-indirect-thick-3">
                                        <option disabled hidden selected>외부마감재 두께</option>
                                        <option value="0">0</option>
                                        <option value="20">20</option>
                                        <option value="90">90</option>
                                        <option value="190">190</option>
                                        <option value="290">290</option>
                                        <option value="390">390</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                        </div>
                    </form>
                </div>
                <!-- End of 외벽 form  -->

                <!-- Start of 창호 form  -->
                <div>
                    <div class="clearfix" style="background: linear-gradient(90deg, #7FB3D5 50%, #7DCEA0 50%);">
                        <div class="col-md-3 col-sm-12" style="display : inline-block;">
                            <p class="text h5" style="display: inline-block;">창호(직접)</p>
                            <input id="win-direct-width" onchange="onchangeWidth(this.id)" style="width: 60px;" type="number"
                                   value="25">
                            <p style="display: inline-block; width: 10px;">㎡</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="win-direct-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="win-direct-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                        <div class="col-md-3 col-sm-12" style="display : inline-block;">
                            <h5 class="text h5" style="display: inline-block;">창호(간접)</h5>
                            <input id="win-indirect-width" onchange="onchangeWidth(this.id)" style="width: 60px;" type="number"
                                   value="0">
                            <p style="display: inline-block; width: 10px;">㎡</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="win-indirect-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="win-indirect-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                    </div>
                    <form name="win" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="win-direct-kind-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>창호 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="win-direct-locale"></p>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="win-indirect-kind-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>창호 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="win-indirect-locale"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- End of 창호 form  -->
                <!-- Start of 외벽평균열관류율-->
                <div>
                    <div class="clearfix" style="background-color : #F7DC6F;">
                        <div class="col-md-3 col-sm-12" style="display : inline-block;">
                            <h5 class="text h5">외벽평균열관류율</h5>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="wall-width-ratio"></p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="wall-avg-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="wall-avg-locale" style="font-size: smaller"></p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="wall-avg-point"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="wall-avg-epi"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="wall-avg-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                    </div>
                </div>
                <!-- End of 외벽평균열관류율-->
            </div>
            <!-- End of 외벽 form -->

            <!-- Start of 지붕 form -->
            <div class="pd-20 card-box mb-30">
                <div>
                    <div class="clearfix" style="background: linear-gradient(90deg, #7FB3D5 50%, #7DCEA0 50%);">
                        <div class="col-md-3 col-sm-12" style="display : inline-block;">
                            <p class="text h5" style="display: inline-block;">최상층지붕(직접)</p>
                            <input id="roof-direct-width" onchange="onchangeWidth(this.id)" style="width: 60px;" type="number"
                                   value="100">
                            <p style="display: inline-block; width: 10px;">㎡</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="roof-direct-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="roof-direct-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                        <div class="col-md-3 col-sm-12" style="display : inline-block;">
                            <p class="text h5" style="display: inline-block;">최상층지붕(간접)</p>
                            <input id="roof-indirect-width" onchange="onchangeWidth(this.id)" style="width: 60px;" type="number"
                                   value="0">
                            <p style="display: inline-block; width: 10px;">㎡</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="roof-indirect-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="roof-indirect-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                    </div>
                    <form name="roof" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="roof-direct-kind-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>구조 재료</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="roof-direct-thick-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected value="0">구조 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="roof-direct-locale"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="roof-indirect-kind-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>구조 재료</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="roof-indirect-thick-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected value="0">구조 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="roof-indirect-locale"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="roof-direct-kind-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="roof-direct-thick-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="roof-indirect-kind-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="roof-indirect-thick-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="roof-direct-kind-3"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>외부마감재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" disabled id="roof-direct-thick-3" >
                                        <option disabled hidden selected>외부마감재 두께</option>
                                        <option value="0">0</option>
                                        <option value="20">20</option>
                                        <option value="90">90</option>
                                        <option value="190">190</option>
                                        <option value="290">290</option>
                                        <option value="390">390</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="roof-indirect-kind-3"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>외부마감재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" disabled id="roof-indirect-thick-3">
                                        <option disabled hidden selected>외부마감재 두께</option>
                                        <option value="0">0</option>
                                        <option value="20">20</option>
                                        <option value="90">90</option>
                                        <option value="190">190</option>
                                        <option value="290">290</option>
                                        <option value="390">390</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                        </div>
                    </form>
                </div>
                <!-- Start of 지붕평균열관류율-->
                <div>
                    <div class="clearfix" style="background-color : #F7DC6F;">
                        <div class="col-md-3 col-sm-12" style="display : inline-block;">
                            <h5 class="text h5">지붕평균열관류율</h5>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="roof-width-ratio"></p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="roof-avg-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="roof-avg-locale" style="font-size: smaller"></p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="roof-avg-point"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="roof-avg-epi"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="roof-avg-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                    </div>
                </div>
                <!-- End of 지붕평균열관류율-->
            </div>
            <!-- End of 지붕 form -->

            <!-- Start of 바닥 form -->
            <div class="pd-20 card-box mb-30">
                <!-- Start of 최하층 비난방바닥 form -->
                <div>
                    <div class="clearfix" style="background: linear-gradient(90deg, #7FB3D5 50%, #7DCEA0 50%);">
                        <div class="col-md-3 col-sm-12" style="display : inline-block;">
                            <p class="text h5" style="display: inline-block;">최하층바닥(직접)</p>
                            <input id="floorb-direct-width" onchange="onchangeWidth(this.id)" style="width: 60px;" type="number"
                                   value="100">
                            <p style="display: inline-block; width: 10px;">㎡</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="floorb-direct-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="floorb-direct-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                        <div class="col-md-3 col-sm-12" style="display : inline-block;">
                            <p class="text h5" style="display: inline-block;">최하층바닥(간접)</p>
                            <input id="floorb-indirect-width" onchange="onchangeWidth(this.id)" style="width: 60px;" type="number"
                                   value="0">
                            <p style="display: inline-block; width: 10px;">㎡</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="floorb-indirect-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="floorb-indirect-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                    </div>
                    <form name="floorb" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floorb-direct-kind-1" disabled>
                                        <option disabled hidden selected>바닥슬라브</option>
                                        <option value="1.6">콘크리트 구조</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floorb-direct-thick-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>슬라브 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="floorb-direct-locale"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floorb-indirect-kind-1" disabled>
                                        <option disabled hidden selected>바닥슬라브</option>
                                        <option value="1.6">콘크리트 구조</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floorb-indirect-thick-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>슬라브 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="floorb-indirect-locale"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floorb-direct-kind-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floorb-direct-thick-2" onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floorb-indirect-kind-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floorb-indirect-thick-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                        </div>
                    </form>
                </div>
                <!-- End of 최하층 비난방바닥 form  -->

                <!-- Start of 최하층 바닥난방 form  -->
                <div>
                    <div class="clearfix" style="background: linear-gradient(90deg, #7FB3D5 50%, #7DCEA0 50%);">
                        <div class="col-md-3 col-sm-12" style="display : inline-block;">
                            <p class="text h5" style="display: inline-block; text-align: left;">최하층바닥<br>(직접,바닥난방)</p>
                            <input id="floor-direct-width" onchange="onchangeWidth(this.id)" style="width: 60px;" type="number"
                                   value="0">
                            <p style="display: inline-block; width: 10px;">㎡</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="floor-direct-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="floor-direct-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                        <div class="col-md-3 col-sm-12" style="display : inline-block;">
                            <p class="text h5" style="display: inline-block; text-align: left;">최하층바닥<br>(간접,바닥난방)</p>
                            <input id="floor-indirect-width" onchange="onchangeWidth(this.id)" style="width: 60px;" type="number"
                                   value="0">
                            <p style="display: inline-block; width: 10px;">㎡</p>
                        </div>
                        <div class="col-md-2 col-sm-12" style="display : inline-block;">
                            <p id="floor-indirect-trans"></p>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display : inline-block;">
                            <p id="floor-indirect-result" style="font-weight: bold; font-size: large;"></p>
                        </div>
                    </div>
                    <form name="floor" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-direct-kind-1" disabled>
                                        <option value="1.4">바닥난방(몰탈)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-direct-thick-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>바닥난방 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="floor-direct-locale"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-indirect-kind-1" disabled>
                                        <option value="1.4">바닥난방(몰탈)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-indirect-thick-1"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>바닥난방 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="floor-indirect-locale"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-direct-kind-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>기포콘크리트</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-direct-thick-2"
                                            onchange="onchangeCombobox(this.id)" disabled>
                                        <option disabled hidden selected>기포콘크리트 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-indirect-kind-2"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>기포콘크리트</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-indirect-thick-2"
                                        onchange="onchangeCombobox(this.id)" disabled>
                                        <option disabled hidden selected>기포콘크리트 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-direct-kind-3"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-direct-thick-3"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected value="0">단열재 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="floor-direct-slab" style="font-size: smaller"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-indirect-kind-3"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-indirect-thick-3"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected value="0">단열재 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="floor-indirect-slab" style="font-size: smaller"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-direct-kind-4" disabled>
                                        <option disabled hidden selected>바닥슬라브</option>
                                        <option value="1.6">콘크리트 구조</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-direct-thick-4"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>슬라브 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="floor-direct-slab-result" style="font-weight: bold"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-indirect-kind-4" disabled>
                                        <option disabled hidden selected>바닥슬라브</option>
                                        <option value="1.6">콘크리트 구조</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-indirect-thick-4"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>슬라브 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <p id="floor-indirect-slab-result" style="font-weight: bold"></p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-direct-kind-5"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-direct-thick-5"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-indirect-kind-5"
                                            onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 종류</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <select class="custom-select" id="floor-indirect-thick-5"
                                        onchange="onchangeCombobox(this.id)">
                                        <option disabled hidden selected>단열재 두께</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12"></div>
                        </div>
                        <!-- End of 바닥난방 -->
                    </form>
                    <!-- Start of 바닥평균열관류율-->
                    <div>
                        <div class="clearfix" style="background-color : #F7DC6F;">
                            <div class="col-md-3 col-sm-12" style="display : inline-block;">
                                <h5 class="text h5">바닥평균열관류율</h5>
                            </div>
                            <div class="col-md-2 col-sm-12" style="display : inline-block;">
                                <p id="floor-width-ratio"></p>
                            </div>
                            <div class="col-md-2 col-sm-12" style="display : inline-block;">
                                <p id="floor-avg-trans"></p>
                            </div>
                            <div class="col-md-1 col-sm-12" style="display : inline-block;">
                                <p id="floor-avg-locale" style="font-size: smaller"></p>
                            </div>
                            <div class="col-md-2 col-sm-12" style="display : inline-block;">
                                <p id="floor-avg-point"></p>
                            </div>
                            <div class="col-md-1 col-sm-12" style="display : inline-block;">
                                <p id="floor-avg-epi"></p>
                            </div>
                            <div class="col-md-1 col-sm-12" style="display : inline-block;">
                                <p id="floor-avg-result" style="font-weight: bold; font-size: large;"></p>
                            </div>
                        </div>
                    </div>
                    <!-- End of 바닥평균열관류율-->
                    <!-- End of 바닥 form -->
                </div>
                <!-- Default Basic Forms End -->
            </div>
        </div>
    </div>
    <!-- Input Validation End -->
</div>
<div class="footer-wrap pd-20 mb-20 card-box">
    Copyright ⓒ 2021 건축환경그룹 코다 All rights reserved.
    <a href="https://codaa.xyz/" target="_blank">CODAA</a>
</div>
</div>
</div>
<!-- js -->
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/process.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
</body>
</html>