<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Basic Page Info -->
    <meta charset="UTF-8">
    <title>열관류율 계산기</title>

    <!-- Site favicon -->
    <link href="statics/img/favicon.ico" rel="icon" sizes="16x16" type="image/png">

    <!-- Mobile Specific Metas -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="statics/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="statics/css/menu.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <!-- jquery 3.2.1 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- script -->
    <script src="statics/js/script.js"></script>
</head>

<body>
<div class="all">
    <!-- Start of Header -->
    <div class="con_top wrap1300">
        <div class="con_top_01">
            <div class="con_top_li">
                <h2>열관류율 계산기 (KS)</h2>
            </div>
            <div class="con_top_li con_top_li2">
                <h3>지역구분</h3>
                <select id="sido1" name="sido1"></select>
                <select id="gugun1" name="gugun1" style="display: none"></select>
                <select id="locale" onchange="onchangeLocale(this.value)" disabled>
                    <option value="" disabled hidden selected>지역구분</option>
                </select>
            </div>
            <div class="con_top_li con_top_li2 con_top_li3">
                <h3>용도구분</h3>
                <select id="use" onchange="onchangeUse(this.value)">
                    <option disabled hidden selected>용도구분</option>
                </select>
                <p onclick="onclickSearch()">검토</p>
                <span onclick="onclickRefresh()" class="leset">초기화</span>
            </div>
        </div>
        <div class="con_top_02">
            <ul>
                <li>
                    <p>
                        본 계산기는 3,000m² 이하 중소규모 건축물 검토에 적합함. <br>
                        창호열관류율은 제조사의 시험성적서 값을 임의적용함. <br>
                        표면 열전달 저항값 자동 계산됨
                    </p>
                </li>
                <li>
                    <p>
                        에너지 절약 설계기준 국토부 고시 제 2017-881호 적용 <br>
                        지역별 녹색건축설계기준 고려한 평균열관류율 기준 적용
                    </p>
                </li>
                <li>
                    <p>
                        녹색건축물 기준 검토 및 계산기 관련 문의 <br>
                        info@codaa.kr
                    </p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <!-- End of Header -->

    <!-- Start of Container -->
    <div class="con_wrap maxwrap1300">
        <!-- Start of External-Wall -->
        <div class="con_tit">
            <span>*해당 자재의 종류와 두께를 선택해주세요.</span>
            <h2>
                <p>외벽평균열관류율</p>
            </h2>
        </div>
        <div class="con_wrap_ir">
            <ul>
                <li>
                    <div class="con_wrap_ir_li con_wrap_ir_li_l">
                        <div class="con_wrap_li_tit">
                            <h5>외벽 (직접)</h5>
                            <div class="auswjr">
                                <span> 면적<input type="text" placeholder="0">m²</span>
                            </div>
                        </div>
                            <ul>
                                <li>
                                    <div class="con_select_wrap">
                                        <select>
                                            <option value="외부마감재 종류" selected="selected">외부마감재 종류</option>
                                            <option value="분류2">분류2</option>
                                            <option value="분류3">분류3</option>
                                        </select>
                                        <select>
                                            <option value="단열재 종류" selected="selected">단열재 종류</option>
                                            <option value="분류2">분류2</option>
                                            <option value="분류3">분류3</option>
                                        </select>
                                        <select>
                                            <option value="구조 재료" selected="selected">구조 재료</option>
                                            <option value="분류2">분류2</option>
                                            <option value="분류3">분류3</option>
                                        </select>
                                        <select>
                                            <option value="단열재 종류" selected="selected">단열재 종류</option>
                                            <option value="분류2">분류2</option>
                                            <option value="분류3">분류3</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="con_select_wrap2">
                                        <select>
                                            <option value="외부마감재 종류" selected="selected">외부마감재 두께</option>
                                            <option value="분류2">분류2</option>
                                            <option value="분류3">분류3</option>
                                        </select>
                                        <select>
                                            <option value="단열재 종류" selected="selected">단열재 두께</option>
                                            <option value="분류2">분류2</option>
                                            <option value="분류3">분류3</option>
                                        </select>
                                        <select>
                                            <option value="구조 재료" selected="selected">구조 두께</option>
                                            <option value="분류2">분류2</option>
                                            <option value="분류3">분류3</option>
                                        </select>
                                        <select>
                                            <option value="단열재 종류" selected="selected">단열재 두께</option>
                                            <option value="분류2">분류2</option>
                                            <option value="분류3">분류3</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div class="con_wrap_ir2">
                                        <h1 class="dis_inb">적용 열관류율</h1>
                                        <h2 class="dis_inb">0.129</h2>
                                        <p class="dis_inb">W/m²K로 법적 기준 <br><span>(부위별 기준 0.170 이하)</span></p>
                                        <h6 class="dis_inb">만족</h6>
                                    </div>
                                </li>
                            </ul>
                    </div>
                </li>
                <li>
                    <div class="con_wrap_ir_li con_wrap_ir_li_r">
                        <div class="con_wrap_li_tit">
                            <h5>외벽 (간접)</h5>
                            <div class="auswjr">
                                <span> 면적<input type="text" placeholder="0">m²</span>
                            </div>
                        </div>
                        <div class="con_select_wrap">
                            <select>
                                <option value="외부마감재 종류" selected="selected">외부마감재 종류</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <select>
                                <option value="단열재 종류" selected="selected">단열재 종류</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <select>
                                <option value="구조 재료" selected="selected">구조 재료</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <select>
                                <option value="단열재 종류" selected="selected">단열재 종류</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <div class="con_select_wrap2">
                                <select>
                                    <option value="외부마감재 종류" selected="selected">외부마감재 두께</option>
                                    <option value="분류2">분류2</option>
                                    <option value="분류3">분류3</option>
                                </select>
                                <select>
                                    <option value="단열재 종류" selected="selected">단열재 두께</option>
                                    <option value="분류2">분류2</option>
                                    <option value="분류3">분류3</option>
                                </select>
                                <select>
                                    <option value="구조 재료" selected="selected">구조 두께</option>
                                    <option value="분류2">분류2</option>
                                    <option value="분류3">분류3</option>
                                </select>
                                <select>
                                    <option value="단열재 종류" selected="selected">단열재 두께</option>
                                    <option value="분류2">분류2</option>
                                    <option value="분류3">분류3</option>
                                </select>
                            </div>
                            <div class="con_wrap_ir2 con_wrap_ir2_red">
                                <h1 class="dis_inb">적용 열관류율</h1>
                                <h2 class="dis_inb">0.127</h2>
                                <p class="dis_inb">W/m²K로 법적 기준 <br><span>(부위별 기준 0.170 이하)</span></p>
                                <h6 class="dis_inb">미달</h6>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="con_wrap_ir_li con_wrap_ir_li_l">
                        <div class="con_wrap_li_tit">
                            <h5>창호 (직접)</h5>
                            <div class="auswjr">
                                <span> 면적<input type="text" placeholder="0">m²</span>
                            </div>
                        </div>
                        <div class="con_select_wrap">
                            <select>
                                <option value="창호 종류" selected="selected">창호 종류</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <div class="con_wrap_ir2 con_wrap_ir2_red">
                                <h1 class="dis_inb">적용 열관류율</h1>
                                <h2 class="dis_inb">1,000</h2>
                                <p class="dis_inb">W/m²K로 법적 기준 <br><span>(부위별 기준 0.170 이하)</span></p>
                                <h6 class="dis_inb">미달</h6>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="con_wrap_ir_li con_wrap_ir_li_r">
                        <div class="con_wrap_li_tit">
                            <h5>창호 (간접)</h5>
                            <div class="auswjr">
                                <span> 면적<input type="text" placeholder="0">m²</span>
                            </div>
                        </div>
                        <div class="con_select_wrap">
                            <select>
                                <option value="창호 종류" selected="selected">창호 종류</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <div class="con_wrap_ir2">
                                <h1 class="dis_inb">적용 열관류율</h1>
                                <h2 class="dis_inb">1,000</h2>
                                <p class="dis_inb">W/m²K로 법적 기준 <br><span>(부위별 기준 0.100 이하)</span></p>
                                <h6 class="dis_inb">만족</h6>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="con_bot">
            <p><span><b style="font-size:27px">=</b> &nbsp;&nbsp;&nbsp; 외벽평균열관류율</span>
                (창면적비 0.250)&nbsp;&nbsp; <span>0.347</span>&nbsp;
                W/m²k &nbsp;
                : &nbsp;외벽 배점 0.9점으로 지자체 기준 0.42 W/m²k 이하를</p> <h6 class="dis_inb">만족</h6>
        </div>
        <!-- Start of External-Wall -->
        <!-- Start of External-Roof -->
        <div class="con_tit">
            <h2>
                <p>지붕평균열관류율</p>
            </h2>
        </div>
        <div class="con_wrap_ir">
            <ul>
                <li>
                    <div class="con_wrap_ir_li con_wrap_ir_li_l">
                        <div class="con_wrap_li_tit">
                            <h5>최상층지붕 (직접)</h5>
                            <div class="auswjr">
                                <span> 면적<input type="text" placeholder="0">m²</span>
                            </div>
                        </div>
                        <div class="con_select_wrap">
                            <select>
                                <option value="외부마감재 종류" selected="selected">외부마감재 종류</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <select>
                                <option value="구조 재료" selected="selected">구조 재료</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <select>
                                <option value="단열재 종류" selected="selected">단열재 종류</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <div class="con_select_wrap2">
                                <select>
                                    <option value="외부마감재 종류" selected="selected">외부마감재 두께</option>
                                    <option value="분류2">분류2</option>
                                    <option value="분류3">분류3</option>
                                </select>
                                <select>
                                    <option value="구조 재료" selected="selected">구조 두께</option>
                                    <option value="분류2">분류2</option>
                                    <option value="분류3">분류3</option>
                                </select>
                                <select>
                                    <option value="단열재 종류" selected="selected">단열재 두께</option>
                                    <option value="분류2">분류2</option>
                                    <option value="분류3">분류3</option>
                                </select>
                            </div>
                            <div class="con_wrap_ir2">
                                <h1 class="dis_inb">적용 열관류율</h1>
                                <h2 class="dis_inb">0.129</h2>
                                <p class="dis_inb">W/m²K로 법적 기준 <br><span>(부위별 기준 0.170 이하)</span></p>
                                <h6 class="dis_inb">만족</h6>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="con_wrap_ir_li con_wrap_ir_li_r">
                        <div class="con_wrap_li_tit">
                            <h5>최상층지붕 (간접)</h5>
                            <div class="auswjr">
                                <span> 면적<input type="text" placeholder="0">m²</span>
                            </div>
                        </div>
                        <div class="con_select_wrap">
                            <select>
                                <option value="외부마감재 종류" selected="selected">외부마감재 종류</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <select>
                                <option value="구조 재료" selected="selected">구조 재료</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <select>
                                <option value="단열재 종류" selected="selected">단열재 종류</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <div class="con_select_wrap2">
                                <select>
                                    <option value="외부마감재 종류" selected="selected">외부마감재 두께</option>
                                    <option value="분류2">분류2</option>
                                    <option value="분류3">분류3</option>
                                </select>
                                <select>
                                    <option value="구조 재료" selected="selected">구조 두께</option>
                                    <option value="분류2">분류2</option>
                                    <option value="분류3">분류3</option>
                                </select>
                                <select>
                                    <option value="단열재 종류" selected="selected">단열재 두께</option>
                                    <option value="분류2">분류2</option>
                                    <option value="분류3">분류3</option>
                                </select>
                            </div>
                            <div class="con_wrap_ir2 con_wrap_ir2_red">
                                <h1 class="dis_inb">적용 열관류율</h1>
                                <h2 class="dis_inb">0.127</h2>
                                <p class="dis_inb">W/m²K로 법적 기준 <br><span>(부위별 기준 0.170 이하)</span></p>
                                <h6 class="dis_inb">미달</h6>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="con_wrap_ir_li con_wrap_ir_li_l">
                        <div class="con_wrap_li_tit">
                            <h5>창호 (직접)</h5>
                            <div class="auswjr">
                                <span> 면적<input type="text" placeholder="0">m²</span>
                            </div>
                        </div>
                        <div class="con_select_wrap">
                            <p class="ckdghwhdfb">창호 종류</p>
                            <div class="con_wrap_ir2 con_wrap_ir2_red">
                                <h1 class="dis_inb">적용 열관류율</h1>
                                <h2 class="dis_inb">1,000</h2>
                                <p class="dis_inb">W/m²K로 법적 기준 <br><span>(부위별 기준 0.170 이하)</span></p>
                                <h6 class="dis_inb">미달</h6>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="con_wrap_ir_li con_wrap_ir_li_r">
                        <div class="con_wrap_li_tit">
                            <h5>창호 (간접)</h5>
                            <div class="auswjr">
                                <span> 면적<input type="text" placeholder="0">m²</span>
                            </div>
                        </div>
                        <div class="con_select_wrap">
                            <select>
                                <option value="창호 종류" selected="selected">창호 종류</option>
                                <option value="분류2">분류2</option>
                                <option value="분류3">분류3</option>
                            </select>
                            <div class="con_wrap_ir2">
                                <h1 class="dis_inb">적용 열관류율</h1>
                                <h2 class="dis_inb">1,000</h2>
                                <p class="dis_inb">W/m²K로 법적 기준 <br><span>(부위별 기준 0.100 이하)</span></p>
                                <h6 class="dis_inb">만족</h6>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="con_bot">
            <p><span><b style="font-size:27px">=</b> &nbsp;&nbsp;&nbsp; 외벽평균열관류율</span>
                (창면적비 0.250)&nbsp;&nbsp; <span>0.347</span>&nbsp;
                W/m²k &nbsp;
                : &nbsp;외벽 배점 0.9점으로 지자체 기준 0.42 W/m²k 이하를</p> <h6 class="dis_inb">만족</h6>
        </div>
    </div>
    <!-- End of Container -->

    <!-- Start of Footer -->
    <footer class="wrap1300">
        <div class="f_info">
            <img style="width: 230px;" src="statics/img/f_logo.png" alt="">
            <p>
                대표 : 정호건 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                사업자 등록번호 : 185-86-01338 <br>
                05398 서울특별시 강동구 성내로 6길 42, 201호 (성내동, 중앙빌딩) <br>
                F. 02.6956.3372 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                E. codaaxyz@naver.com
            </p>
        </div>
        <div class="f_slogan">
            <h1>CODAA</h1>
            <p>WE SHAPE A BETTER WORLD</p>
            <p><b>LET’S SHAPE TOGETHER</b></p>
        </div>
        <div class="clear"></div>

        <div class="f_sns">
            <a href="https://www.facebook.com/codaa.kr/" target="_blank"><img src="statics/img/sns01.png" alt=""></a>
            <a href="https://www.instagram.com/codaa.kr" target="_blank"><img src="statics/img/sns02.png" alt=""></a>
            <a href="https://blog.naver.com/codaaxyz" target="_blank"><img src="statics/img/sns03.png" alt=""></a>
        </div>

        <div style="text-align: center;margin-bottom: 25px;">Copyright ⓒ 2021 건축환경그룹 코다 All rights reserved. CODAA</div>
    </footer>
    <!-- End of Footer -->

</div>
</body>
</html>